<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<body>

<th:block th:fragment="headerImport">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="240+ Best Bootstrap Templates are available on this website. Find your template for your project compatible with the most popular HTML library in the world." />
    <meta name="/viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="https://htmldemo.hasthemes.com/furns/" />

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Furns - Responsive eCommerce HTML Template" />
    <meta property="og:url" content="PAGE_URL" />
    <meta property="og:site_name" content="Furns - Responsive eCommerce HTML Template" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description" content="Furns - Responsive eCommerce HTML Template" />
    <meta name="robots" content="noindex, follow" />
    <!-- Add site Favicon -->
    <link rel="icon" href="/view/images/favicon/favicon.png" sizes="32x32" />
    <link rel="icon" href="/view/images/favicon/favicon.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/view/images/favicon/favicon.png" />
    <meta name="msapplication-TileImage" content="/view/images/images/favicon/favicon.png" />
    <!-- Structured Data  -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Replace_with_your_site_title",
            "url": "Replace_with_your_site_URL"
        }
    </script>

    <!-- vendor css (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="/view/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/view/css/vendor/simple-line-icons.css" />
    <link rel="stylesheet" href="/view/css/vendor/ionicons.min.css" /> -->

    <!-- plugins css (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="/view/css/plugins/animate.css" />
    <link rel="stylesheet" href="/view/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/view/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="/view/css/plugins/jquery.lineProgressbar.css">
    <link rel="stylesheet" href="/view/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="/view/css/plugins/venobox.css" /> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/view/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="/view/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="/view/css/style.min.css">

    <!-- Main Style -->
    <!-- <link rel="stylesheet" href="/view/css/style.css" /> -->

</th:block>

<th:block th:fragment="footerImport">
    <!-- Footer Area End -->

    <!-- Global Vendor, plugins JS -->

    <!-- Vendor JS -->
    <!-- <script src="/view/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/view/js/vendor/popper.min.js"></script>
    <script src="/view/js/vendor/bootstrap.min.js"></script>
    <script src="/view/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="/view/js/vendor/modernizr-3.11.2.min.js"></script> -->

    <!--Plugins JS-->
    <!-- <script src="/view/js/plugins/swiper-bundle.min.js"></script>
    <script src="/view/js/plugins/jquery-ui.min.js"></script>
    <script src="/view/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/view/js/plugins/countdown.js"></script>
    <script src="/view/js/plugins/scrollup.js"></script>
    <script src="/view/js/plugins/jquery.waypoints.js"></script>
    <script src="/view/js/plugins/jquery.lineProgressbar.js"></script>
    <script src="/view/js/plugins/jquery.zoom.min.js"></script>
    <script src="/view/js/plugins/venobox.min.js"></script>
    <script src="/view/js/plugins/ajax-mail.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="/view/js/vendor/vendor.min.js"></script>
    <script src="/view/js/plugins/plugins.min.js"></script>

    <!-- Main Js -->
    <script src="/view/js/main.js"></script>
</th:block>



</body>
</html>