<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <title>Furns - Furniture eCommerce HTML Template</title>
    <th:block th:insert="view/fragments/import::headerImport"></th:block>
</head>

<body>
<th:block th:insert="view/fragments/layout::header"></th:block>

<div class="offcanvas-overlay"></div>
<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-start">
                        <h2 class="breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-12">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-md-end">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/v1/product/">Shop</a></li>
                            <li class="breadcrumb-item active">Product Details</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb-area end -->

<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <!-- Swiper -->
                <div class="swiper-container zoom-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="view/images/product-image/zoom-image/1.jpg" alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="view/images/product-image/zoom-image/2.jpg" alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="view/images/product-image/zoom-image/3.jpg" alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="view/images/product-image/zoom-image/4.jpg" alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="view/images/product-image/zoom-image/5.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-container zoom-thumbs slider-nav-style-1 small-nav mt-15px mb-15px">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="view/images/product-image/1.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="view/images/product-image/2.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="view/images/product-image/3.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="view/images/product-image/4.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="view/images/product-image/5.jpg" alt="">
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content">
                    <h2 th:text="${data.product.title}"></h2>
                    <p class="reference">Category:
                        <span th:text="${data.product.getCategoryProduct().getCatParent().name}"></span> |
                        <span th:text="${data.product.getCategoryProduct().name}"></span>
                    </p>
                    <div class="pro-details-rating-wrap">
                        <div class="rating-product">
                            <i class='bx bxs-star' th:style="${data.rating} >= 1 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                            <i class='bx bxs-star' th:style="${data.rating} >= 2 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                            <i class='bx bxs-star' th:style="${data.rating} >= 3 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                            <i class='bx bxs-star' th:style="${data.rating} >= 4 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                            <i class='bx bxs-star' th:style="${data.rating} >= 5 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                        </div>

                        <span class="read-review">
                                <a class="reviews" href="#">
                                    <span>Ratings </span>(<span th:text="${data.ratingCount}"></span>)
                                </a>
                            </span>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut" th:text="'$' + ${data.product.price}"></li>
                        </ul>
                    </div>
                    <p class="quickview-para" th:maxlength="255" th:text="${data.product.description}"></p>
                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1"/>
                        </div>
                        <div class="pro-details-cart">
                            <button class="add-cart btn btn-primary btn-hover-primary ml-4" href="#"> Add To
                                Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- product details description area start -->
<div class="description-review-area pb-100px" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a data-bs-toggle="tab" href="single-product.html#des-details1">Description</a>
                <a class="active" data-bs-toggle="tab" href="single-product.html#des-details2">Product Details</a>
                <a data-bs-toggle="tab" href="single-product.html#des-details3">Comments (<span
                        th:text="${data.commentCount}"></span>)</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details2" class="tab-pane active">
                    <div class="product-anotherinfo-wrapper">
                        <ul>
                            <li><span>Stock</span> <span th:text="${data.product.getStock()}"></span></li>
                        </ul>
                    </div>
                </div>
                <div id="des-details1" class="tab-pane">
                    <div class="product-description-wrapper">
                        <p th:text="${data.product.description}"></p>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="review-wrapper" style="overflow: auto; height: 500px; padding-right: 20px;">
                                <div th:if="${data.commentCount == 0}" style="font-size: 26px">Comment not found</div>
                                <div class="single-review" th:each="comment : ${data.comments}">
                                    <div class="review-img">
                                        <img src="https://i.stack.imgur.com/34AD2.jpg" alt="avatar"
                                             class="comment-avatar"/>
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>
                                                        <span th:text="${comment.user.name}"></span>
                                                        <span th:text="${comment.user.surname}"></span>
                                                        <span th:text="${comment.createAt}"></span>
                                                        <span class="action">
                                                            <th:block th:if="${currentUser} != null">
                                                                |
                                                                <th:block th:if="${currentUser.id} == ${data.product.user.id}">
                                                                    <span><a th:href="'/v1/comment/product/delete/' + ${data.product.id} + '/'+ ${comment.id}">delete</a></span>
                                                                </th:block>
                                                            </th:block>
                                                        </span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p th:text="${comment.content}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="ratting-form-wrapper pl-50">

                                <div class="review-name">
                                    <h4>your rating under product</h4>
                                </div>
                                <div class="pro-details-rating-wrap">
                                    <div class="rating-product" style="display: flex">
                                        <a th:href="'/v1/rating/product/?rating=1&productId='+${data.product.id}"> <i class='bx bxs-star' th:style="${data.yourRating} >= 1 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                                        <a th:href="'/v1/rating/product/?rating=2&productId='+${data.product.id}"> <i class='bx bxs-star' th:style="${data.yourRating} >= 2 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                                        <a th:href="'/v1/rating/product/?rating=3&productId='+${data.product.id}"> <i class='bx bxs-star' th:style="${data.yourRating} >= 3 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                                        <a th:href="'/v1/rating/product/?rating=4&productId='+${data.product.id}"> <i class='bx bxs-star' th:style="${data.yourRating} >= 4 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                                        <a th:href="'/v1/rating/product/?rating=5&productId='+${data.product.id}"> <i class='bx bxs-star' th:style="${data.yourRating} >= 5 ? 'color: #fdd835' : 'color: #dee2e6'"></i></a>
                                    </div>
                                </div>
                                <h3 style="margin-bottom: 25px;" disabled="">Add a Comment</h3>
                                <div class="ratting-form">
                                    <form action="/v1/comment/product" method="post">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="rating-form-style form-submit">
                                                    <input type="hidden" name="productId" th:value="${data.product.id}" readonly>
                                                    <textarea name="content" placeholder="Message" minlength="3" maxlength="600" required></textarea>
                                                    <button class="btn btn-primary btn-hover-color-primary"
                                                            type="submit" value="Submit">Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product details description area end -->

<!-- New Product Start -->
<div class="section pb-100px" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <!-- section title start -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-start mb-11">
                    <h2 class="title">You Might Also Like</h2>
                </div>
            </div>
        </div>
        <!-- section title start -->
        <div class="new-product-slider swiper-container slider-nav-style-1" data-aos="fade-up" data-aos-delay="200">
            <div class="new-product-wrapper swiper-wrapper">
                <!-- Single Prodect -->
                <div class="new-product-item swiper-slide">
                    <div class="product">
                        <div class="thumb">
                            <a href="shop-left-sidebar.html" class="image">
                                <img src="view/images/product-image/1.jpg" alt="Product"/>
                                <img class="hover-image" src="view/images/product-image/2.jpg" alt="Product"/>
                            </a>
                            <span class="badges">
                                    <span class="sale">-10%</span>
                                <span class="new">New</span>
                                </span>
                            <div class="actions">
                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                                        class="icon-heart"></i></a>
                                <a href="single-product.html#" class="action quickview" data-link-action="quickview"
                                   title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                        class="icon-size-fullscreen"></i></a>
                                <a href="compare.html" class="action compare" title="Compare"><i
                                        class="icon-refresh"></i></a>
                            </div>
                            <button title="Add To Cart" class=" add-to-cart">Add
                                To Cart
                            </button>
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="shop-left-sidebar.html">Simple minimal Chair </a></h5>
                            <span class="price">
                                    <span class="new">$18.50</span>
                                <span class="old">$28.50</span>
                                </span>
                        </div>
                    </div>
                </div>
                <!-- Single Prodect -->
                <div class="new-product-item swiper-slide">
                    <div class="product">
                        <div class="thumb">
                            <a href="shop-left-sidebar.html" class="image">
                                <img src="view/images/product-image/3.jpg" alt="Product"/>
                                <img class="hover-image" src="view/images/product-image/4.jpg" alt="Product"/>
                            </a>
                            <span class="badges">
                                    <span class="sale">-7%</span>
                                </span>
                            <div class="actions">
                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                                        class="icon-heart"></i></a>
                                <a href="single-product.html#" class="action quickview" data-link-action="quickview"
                                   title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                        class="icon-size-fullscreen"></i></a>
                                <a href="compare.html" class="action compare" title="Compare"><i
                                        class="icon-refresh"></i></a>
                            </div>
                            <button title="Add To Cart" class=" add-to-cart">Add
                                To Cart
                            </button>
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="shop-left-sidebar.html">Wooden decorations</a></h5>
                            <span class="price">
                                    <span class="new">$38.50</span>
                                <span class="old">$43.50</span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
                <div class="no-content swiper-button-next"><i class='bx bx-chevron-right'></i></div>
                <div class="no-content swiper-button-prev"><i class='bx bx-chevron-left'></i></div>
            </div>
        </div>
    </div>
</div>

<!-- New Product End -->

<!-- New Product Start -->
<div class="section pb-100px" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <!-- section title start -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-start mb-11">
                    <h2 class="title">12 Other Products In The Same Category:</h2>
                </div>
            </div>
        </div>
        <!-- section title start -->
        <div class="new-product-slider swiper-container slider-nav-style-1" data-aos="fade-up" data-aos-delay="200">
            <div class="new-product-wrapper swiper-wrapper">
                <!-- Single Prodect -->
                <div class="new-product-item swiper-slide">
                    <div class="product">
                        <div class="thumb">
                            <a href="shop-left-sidebar.html" class="image">
                                <img src="view/images/product-image/1.jpg" alt="Product"/>
                                <img class="hover-image" src="view/images/product-image/2.jpg" alt="Product"/>
                            </a>
                            <span class="badges">
                                    <span class="sale">-10%</span>
                                <span class="new">New</span>
                                </span>
                            <div class="actions">
                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                                        class="icon-heart"></i></a>
                                <a href="single-product.html#" class="action quickview" data-link-action="quickview"
                                   title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                        class="icon-size-fullscreen"></i></a>
                                <a href="compare.html" class="action compare" title="Compare"><i
                                        class="icon-refresh"></i></a>
                            </div>
                            <button title="Add To Cart" class=" add-to-cart">Add
                                To Cart
                            </button>
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="shop-left-sidebar.html">Simple minimal Chair </a></h5>
                            <span class="price">
                                    <span class="new">$18.50</span>
                                <span class="old">$28.50</span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
                <div class="no-content swiper-button-next"><i class='bx bx-chevron-right'></i></div>
                <div class="no-content swiper-button-prev"><i class='bx bx-chevron-left'></i></div>
            </div>
        </div>
    </div>
</div>

<!-- New Product End -->

<th:block th:insert="view/fragments/layout::footer"></th:block>
<th:block th:insert="view/fragments/import::footerImport"></th:block>
</body>

</html>
