<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <title>Furns - Furniture eCommerce HTML Template</title>
    <th:block th:insert="view/fragments/import::headerImport"></th:block>
</head>

<body>
    <th:block th:insert="view/fragments/layout::header"></th:block>

    <div class="offcanvas-overlay"></div>
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-start">
                            <h2 class="breadcrumb-title">Edit</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-12">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-md-end">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Add Product</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- breadcrumb-area end -->

    <!-- checkout area start -->
    <form th:each="products : ${product}" th:action="'/v1/product/update/'+${products.id}" method="post" enctype="multipart/form-data">
    <div class="checkout-area pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="billing-info-wrap">
                        <h3>Product characteristics</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="billing-info mb-20px">
                                    <label>Product Title</label>
                                    <input type="text" name="title" placeholder="Title"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20px">
                                    <label>Price</label>
                                    <input type="number" name="price"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20px">
                                    <label>Stock</label>
                                    <input type="number" name="stock"/>
                                </div>
                            </div>
                            <div class="additional-info">
                                <label>Description</label>
                                <textarea placeholder="Description" name="description"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-select mb-20px">
                                    <label>Category</label>
                                    <select name="categoryProductId">
                                        <option th:each="cat : ${category}" th:text="${cat.name}" th:value="${cat.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <input type="file" name="image">
                                </div>
                            </div>
                            <button class="btn-hover checkout-btn" type="submit" value="update">Edit product</button>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    </div>
    </form>

    <!-- checkout area end -->

    <th:block th:insert="view/fragments/layout::footer"></th:block>

    <th:block th:insert="view/fragments/import::footerImport"></th:block>



</body>

</html>